body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.top-menu ul,
.main-navigation ul,
.header-navigation ul,
.product-categories ul,
.popular-products ul,
.popular-producers ul,
.services ul,
.about-company ul,
.footer-navigation ul,
.socials ul,
.breadcrumbs ul,
.filter-producers ul,
.filter-power ul,
.sorting ul,
.products ul,
.pages {
    list-style: none;
}

.top-menu-list,
.header-navigation h2,
.user-navigation,
.main-navigation ul,
.product-list,
.product-list h3,
.product-list p,
.product-list-2,
.product-list-2 h3,
.product-list-2 p,
.popular-products-top h2,
.popular-products ul,
.popular-products-item h3,
.popular-products-item p,
.slider-1 h3,
.slider-2 h3,
.slider-1 p,
.slider-2 p,
.popular-producers-top h2,
.popular-producers-list,
.services h2,
.services h3,
.services p,
.services ul,
.services-navigation p,
.about-company h2,
.about-company p,
.partners,
.contacts h2,
.contacts p,
.footer-top p,
.footer-navigation ul,
.rights p,
.socials ul,
.feedback p,
.developed p,
.map-popup p,
.letter-popup,
.product-categories ul,
.popular-products ul,
.popular-producers ul,
.services ul,
.about-company ul,
.socials ul,
.header-navigation ul,
.breadcrumbs ul,
.filter-cost h3,
.filter-cost p,
.filter-producers ul,
.filter-power ul,
.filter-producers legend,
.filter-power legend,
.catalog h2,
.basket-popup h2,
.products-list,
.sorting ul,
.sorting h3,
.sorting p,
.filter-producers,
.filter-power,
.about-product p,
.pages{
    margin: 0;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
}

.top-logo,
.index-top-logo,
.index-logo {
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.top-logo:hover,
.top-logo:focus {
    background-color: #ca2c37; 
    box-shadow: 0 5px 0 0 #9a212a; 
}

.top-logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26; 
}

.top-menu,
.main-navigation {
    background-color: #293449;
}

input[type="search"] {
    background-color: transparent;
    border: none;
}

input[type="search"]::placeholder {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;

    color: #ffffff;
}


.search input[type="search"]:hover,
.top-menu-list a:hover,
.top-menu-list a:focus {
    background-color: #212a3a;
}

.search input[type="search"]:focus {
    background-color: #ffffff;
    color: #000000;
}

.top-menu-list a:active {
    background-color: #161d29;
    color: rgb(255, 255, 255, 0.5);
}

.bookmarks,
.basket {
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;   
    
    color: #ffffff;
}

.purchase-item a{
    font-size: 17px;
    line-height: 18px;

    background-color: #63a63e;
    color: #ffffff;
}


.purchase-item a:hover,
.purchase-item a:focus {
    background-color: #5fbb2d;
}

.purchase-item a:active {
    background-color: #518534;
    color: rgb(255, 255, 255, 0.5);
}

.header,
.services {
    background-color: #f3f7f9;
}

.header-navigation h2 {
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    
    color: #ee3643;
}

.phone-number {
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    
    color: #ee3643;
    border: 3px solid #ffffff;
}

.header-navigation address {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;

    color: #32425c;
     
}

.user-navigation a {
    font-size: 21px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    
    color: #000000;
    background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus,
.login-item:hover,
.login-item:focus {
    color: #ee3643;
}

.user-navigation a:active {
    color: rgb(0, 0, 0, 0.3);
}

.login-navigation .login-name {
    font-size: 21px;
    line-height: 21px;

    color: #000000;
    background-color: #ffffff;
}

.login-item{
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.login-item:active {
    color: rgb(50, 66, 92, 0.3);
}

.main-navigation {
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.main-navigation a {
    font-size: 17px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    
    color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
    background-color: #293449;
}

.main-navigation a:active {
    background-color: #293449;
    color: rgb(255, 255, 255, 0.5);
}

.product-categories h3 {
    font-size: 24px;
    font-weight: bold; 
    line-height: 30px;
    text-transform: normal;
    
    color: #ffffff;
}

.product-categories a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    
    color: #ffffff;
}

.product-orange,
.product-orange-2 {
    background-color: #ffbf47;
}

.product-blue {
    background-color: #3bbce3;
}

.product-violet {
    background-color: #dc91d8;
}

.product-green {
    background-color: #8ed78f;
}

.product-categories a {
    background-color: rgb(0, 0, 0, 0.1);
}

.product-categories a:hover,
.product-categories a:focus {
    background-color: rgb(0, 0, 0, 0.2);
}

.product-categories a:active {
    background-color: rgb(0, 0, 0, 0.3);
}

.slider-1 h3,
.slider-2 h3 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;

    color: #ffffff;
}

.slider-1 p,
.slider-2 p {
    font-size: 18px;
    line-height: 24px;

    color: #ffffff;
}

.slider-1 a,
.slider-2 a,
.popular-products .show-popular-products,
.popular-producers .show-popular-producers,
.credit-request,
.more-about,
.lost {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #ffffff;
    background-color: #ee3643;
}

.slider-1 a:hover,
.slider-1 a:focus,
.slider-2 a:hover,
.slider-2 a:focus,
.popular-products .show-popular-products:hover,
.popular-products .show-popular-products:focus,
.popular-producers .show-popular-producers:hover,
.popular-producers .show-popular-producers:focus,
.credit-request:hover,
.credit-request:focus,
.more-about:hover,
.more-about:focus,
.lost:hover,
.lost:focus {
    background-color: #ca2c37;
}

.slider-1 a:active,
.slider-2 a:active,
.popular-products .show-popular-products:active,
.popular-producers .show-popular-producers:active,
.credit-request:active,
.more-about:active,
.lost:active {
    background-color: #ba2732;
}

.popular-products-top,
.popular-producers-top {
    background-color: #f9f5f0;
}


.popular-products h2,
.popular-producers h2,
.delivery h3,
.guarantee h3,
.credit h3,
.about-company h2 {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 30px;

    color: #32425c;
}

.services h2,
.about-company h2,
.contacts h2,
.about-product h2 {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 30px;

    color: #000000;
}


.popular-products-item,
.products-item {
    font-family: "PT Sans", "Arial", sans-serif;
    border: 1px solid #eaeaea;
}

.popular-products-item h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    color: #000000;
}

.popular-products-item:hover,
.popular-products-item:focus,
.products-item:hover,
.products-item:focus {
    border: 1px solid #ffffff;
    box-shadow: 0 10px 25px 0  rgb(41, 52, 73, 0.5);
}

.old-price {
    color: #a9a9a9;

    font-weight: bold;
    text-decoration: line-through;
}

.price,
.only-price {
    font-weight: bold;
    
    color: #ffffff;
    background-color: #ee3643;
}

.active-product-item {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

}

.buy {
    color: #ffffff;  
    background-color: #63a63e; 
    box-shadow: 0 3px 0 0 #367315;
}

.buy:hover,
.buy:focus {
    background-color: #5fbb2d; 
}

.buy:active {
    background-color: #518534; 
    box-shadow: 0 3px 0 0 #518534;
}

.add-bookmarks {
    color: #32425c;  
    background: transparent; 
    border: 3px solid #63a63e;
}

.add-bookmarks:hover,
.add-bookmarks:focus {
    border: 3px solid #32425c;
}

.add-bookmarks:focus {
    border: 3px solid rgb(50, 66, 92, 0.3);
    color: rgb(50, 66, 92, 0.3);
}

.popular-producers-item {
    border: 1px solid #eaeaea;
}

.popular-producers-item:hover,
.popular-producers-item:focus {
    border: 1px solid #ffffff;
    box-shadow: 0 10px 25px 0  rgb(41, 52, 73, 0.5);
}

.popular-producers-item:active {
    border: 1px solid #ffffff;
    box-shadow: 0 10px 10px 0  rgb(41, 52, 73, 0.3);  
}

.services p,
.about-company p,
.contacts p,
.about-product p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
        
    color: #000000;

}

.services-navigation a {
    font-size: 21px;
    line-height: 30px;

    color: #ffffff;
    background-color: #32425c;
}

.services-navigation a:hover,
.services-navigation a:focus {
    background-color: #293449;
    border-color: #293449;
}

.services-navigation .service-active {
    color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.services-navigation .service-active:hover,
.services-navigation .service-active:focus,
.services-navigation .service-active:active {
    color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.partners {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;

    color: #000000;
}

.footer-top {
    background-color: #32425c;
}

.footer-top address,
.footer-top .phone-number-footer  {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;

    color: #ffffff;
}

.footer-navigation-white a {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    
    color: #f1f5f7;
}

.footer-navigation-yellow a {
    color: #ffd180;
}

.footer-navigation {
    background-color: #32425c; 
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    text-decoration: underline;
}

.footer-navigation-white a:active {
    color: rgb(241, 245, 247, 0.5);
}

.footer-navigation-yellow a:active {
    color: rgb(255, 209, 128, 0.5);
}

.footer-bottom {
   background-color: #293449;
}

.footer-bottom p,
.footer-bottom span {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;

    color: #ffffff;
}

.socials a {
    color: #ffffff;
}

.socials a:hover,
.socials a:focus,
.socials a:active {
    color: #ee3643;
}

.footer-bottom span {
    color: #ffd180;
}

.footer-bottom span:hover,
.footer-bottom span:focus {
    text-decoration: underline;
}

.footer-bottom span:active {
    color: #ee3643;
}

.map-popup {
    box-shadow: 0 10px 16px 8px  rgb(41, 52, 73, 0.5);
}

.letter-popup,
.basket-popup {
    border-top: 7px solid #ff5257;
    box-shadow: 0 10px 16px 8px  rgb(41, 52, 73, 0.5);
}

.letter-popup label {
    font-size: 18px;
    list-style: 18px;

    color: #000000;
}

textarea {
    border: 2px solid #dee3e4;
}

.email-popup,
.name-popup {
    border: 2px solid #dee3e4;
}

.email-popup::placeholder,
.name-popup::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;

    color: #a9a9a9;
}

textarea::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;

    color: #a9a9a9;
}

.send-letter {
    font-family: "Cuprum", "Arial", sans-serif;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #ffffff;
    background-color: #ee3643;

    border: none;
}

.basket-buttons a{
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    
    color: #ffffff;
    background-color: #ee3643;

    border: none;
}

.send-letter:hover,
.send-letter:focus,
.basket-buttons a:hover,
.basket-buttons a:focus {
background-color: #ca2c37;
}

.send-letter:active,
.basket-buttons a:active {
background-color: #ba2732;
}

.catalog h2{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;

    color: #32425c;
}

.breadcrumbs a,
.sorting h3,
.filter-cost h3,
.sorting a {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;

    color: #000000;
}

.sorting-cost a,
.sorting-type a,
.sorting-function a {
    color: rgb(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.sorting-cost a:hover,
.sorting-cost a:focus,
.sorting-type a:hover,
.sorting-type a:focus,
.sorting-function a:hover,
.sorting-function a:focus {
    color: rgb(0, 0, 0, 1);
    border-bottom: 1px solid #ee3643;
}

.sorting-up a,
.sorting-down a {
    color: rgb(0, 0, 0, 0.3);
}

.sorting-up a:hover,
.sorting-up a:focus,
.sorting-down a:hover,
.sorting-down a:focus {
    color: rgb(0, 0, 0, 1);
}

.active-filter a,
.active-filter a:hover,
.active-filter a:focus,
.active-filter a:active {
    color: #ee3643;
    border: none;
}

.filter-cost h3,
.fullbar {
    background-color: #f7f3ec;
}

.filter-cost p {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;

    color: #000000;
}

.filter-cost input {
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    
    border: none;
}


.filter-producers,
.filter-power {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;

    border: none;
}

.filter-producers legend,
.filter-power legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
}

.filter button {
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    border: 1px solid #e5e5e5;
    background: transparent;

}

.filter button:hover,
.filter button:focus {
    border-color: #bdc6ca;
}

.filter button:active {
    border-color: #ee3643;
}

.products h3 {
    font-size: 18px;
    line-height: 20px;

    color: #000000;
}

.pages a {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    
    border: 1px solid #e5e5e5;
    color: #000000;
}

.current a{
    background-color: #ee3643;
    border: none;
}

.pages a:hover,
.pages a:focus {
    border-color: #bdc6ca;
}

.pages a:active {
    border-color: #ee3643;
}

.basket-popup h2{
    font-family: inherit;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

/*НАЧИНАЕМ ПОСТРОЕНИЕ СЕТОК!*/

* {
    outline: 1px solid red;
}

.top-menu {
    width: 100%;
    
}

.top-menu-list {
    display: flex;
}

.container {
    display: flex;

    width: 940px;
    margin: 0 auto;
}


.index-top-logo,
.top-logo {
    display: flex;

    width: 220px;
    min-height: 42px;
    align-items: center;
}

.index-top-logo img,
.top-logo img {
    margin: 0 auto;
}

input[type="search"] {
    width: 260px;
    min-height: 42px;
}

input[type="search"]::placeholder {
    min-height: 42px;
    padding-left: 49px;  
}



.bookmarks {
    width: 150px;
    min-height: 42px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;
}

.top-menu-list .bookmarks {
    display: flex;
    align-items: center;
}

.basket {
    width: 140px;
    min-height: 42px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;
}

.top-menu-list .basket {
    display: flex;
    align-items: center;
}

.purchase-item a {
    width: 140px;
    min-height: 42px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;
}

.purchase-item .process {
    display: flex;
    align-items: center;
}



.header {
    width: 100%;
    min-height: 278px;
}

.header-navigation-wrapper {
    display: flex;
    min-height: 68px;
    
    margin-top: 46px;
    margin-bottom: 44px;
}

.header-navigation h2 {
    margin-left: 53px;
}

.phone-number {
    min-height: 38px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;
}

.header-contacts .phone-number {
    display: flex;
    align-items: center; 
}

.header-contacts address {
    display: flex;
    justify-content: center;
}

.header-contacts {
    margin-left: 70px;

    width: 270px;
    min-height: 68px;
}

.user-navigation {
    display: flex;

    
}

.user-login  {
    margin-left: 69px;
    
    min-height: 45px;
    width: 111px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;
}

.user-navigation .user-login {
    display: flex;
    align-items: center;
}

.user-registration  {
    margin-left: 10px;

    min-height: 45px;
    width: 140px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;
}

.user-navigation .user-registration {
    display: flex;
    align-items: center;
    
}

.login-navigation {
    display: flex;
    flex-direction: column;
    
}

.login-navigation li {
    margin-left: 51px;
}

.login-navigation .login-name {
    display: flex;
    align-items: center;
    

    width: 252px;
    min-height: 45px;
    padding-left: 47px;
}

.login-navigation-items a {
    display: flex;
    align-items: center;
    min-height: 23px;
    
}

.login-navigation-items {
    display: flex;
    
}

.login-navigation-items li:first-child {
   width: 80px;
   margin-left: 69px;
      
}

.login-navigation-items li:last-child {
    width: 110px;
    margin-left: 33px;
 }




.main-navigation-wrapper {
    width: 100%;
    display: flex;
    justify-content: center; 
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.main-navigation-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 38px;
    padding: 0 23px;
}

.main-navigation-list a {
    padding:16px 30px 15px;
}

/*
.main-navigation-list {
    display: flex;
    width: 940px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-navigation-list a {
    display: flex;
    
    align-items: center;

    padding-right: 33px;
    padding-left: 33px;
}

.main-navigation-list li {
    display: flex;
    min-height: 55px;
    
    
}
*/
.product-list,
.product-list-2 {
    display: flex;
}



.product-orange,
.product-orange-2,
.product-blue,
.product-violet,
.product-green {
    width: 300px;
    min-height: 123px;
}

.product-blue,
.product-violet,
.product-green,
.product-orange-2 {
    margin-left: 20px;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.product-list h3,
.vertical-flex h3 {
    margin-left: 23px;
    margin-top: 26px;
}



.product-list a,
.vertical-flex a {
    width: 125px;
    min-height: 38px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 3px;
}

.product-orange a,
.product-orange-2 a,
.product-blue a,
.product-violet a,
.product-green a{
    display: flex;
    align-items: center;

    margin-left: 23px;
    margin-top: 10px;
}

.slider-1,
.slider-2,
.product-green,
.product-orange-2 {
    margin-top: 20px;
}

.popular-products {
    width: 940px;
}

.popular-products-top {
    display: flex;
    align-items: center;
    
    min-height: 89px;
    width: 940px;

    margin-top: 53px;
    margin-bottom: 20px;
}

.popular-products-top h2,
.popular-producers-top h2 {
    margin-left: 30px;
}

.show-popular-products {
    width: 243px;
    min-height: 38px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;
            
    border-radius: 3px;
    margin-left: 373px;
}

.popular-products-top a {
    display: flex;
    align-items: center;
}


.popular-products-list {
    display: flex;
}

.container .popular-producers-list:last-child {
    margin-top: 17.5px;
}

.popular-products-item {
    width: 220px;
    min-height: 318px;
    
    
}

.popular-products-item a {
    width: 220px;
    min-height: 318px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.popular-products-item h3 {
    order: 1;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 160px;
}

.popular-products-item .product-price {
    order: 2;
}

.popular-products-item:not(:last-child) {
    margin-right: 17.5px;
}

.old-price {
    display: flex;
    justify-content: center;

    margin-top: 7px;
    margin-bottom: 7px;
}

.price,
.only-price {
    display: flex;

    width: 141px;
    min-height: 38px;
    border-radius: 3px;

    justify-content: center;
    align-items: center;
    
}

.only-price {
    margin-top: 31px;
}

.popular-producers-top {
    display: flex;
    align-items: center;

    min-height: 89px;
    width: 940px;

    margin-top: 21px;
    margin-bottom: 20px;
}

.show-popular-producers {
    width: 243px;
    min-height: 38px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 3px;
    margin-left: 270px;
  
}

.popular-producers-top a {
    display: flex;
    align-items: center;
}

.popular-producers-list {
    display: flex;
}

.popular-producers-item {
    width: 220px;
    min-height: 145px;
}

.popular-producers-item a {
    width: 220px;
    
    display: flex;
    justify-content: center;
    
}

.popular-producers-item img {
    display: flex;
    align-items: center;
}

.popular-producers ul li:not(:last-child) {
    margin-right: 17.5px;
}

.services-wrapper {
    display:  flex;
    flex-direction: column;
}

.services {
    width: 100%;
    min-height: 522px;
    
    margin-top: 85px;
}

.services h2 {
    margin-top: 65px;
  
}

.services-navigation-wrapper {
    display: flex;
    

    margin-top: 70px;
}

.services-navigation a {
    width: 218px;
    min-height: 62px;

    display: flex;
    align-items: center;
    padding-left: 22px;

    border-top: 1px solid #41516a;
    border-bottom: 1px solid #2b364a;
}

.service-description li {
    margin-left: 80px;
}

.delivery p,
.guarantee p,
.credit p {
    margin-top: 30px;
}

.credit-request {
    width: 185px;
    min-height: 38px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 3px;

    margin-top: 30px;
}

.credit a {
    display: flex;
    align-items: center;
}

.company-wrapper {
    display: flex;
    min-height: 537px;
}

.about-company {
    width: 540px;
    min-height: 450px;

}

.on-line-top {
    min-height: 113px;

    margin-top: 75px;
}

.on-line-top p {
    margin-top: 25px;
}

.on-line-middle {
    margin-top: 25px;
}

.contacts {
    margin-left: 100px;
}

.more-about {
    width: 210px;
    min-height: 38px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 3px;
    margin-top: 42px;
}

.about-company .more-about {
    display: flex;
    align-items: center;
}

.partners li {
    margin-top: 17px;
}

.lost {
    width: 280px;
    min-height: 38px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 3px;
    margin-top: 38px;
}

.on-line-middle .lost {
    display: flex;
    align-items: center;
}

.footer-navigation-white,
.footer-navigation-yellow {
    display: flex;
}

.footer-wrapper {
    width: 100%;
    background-color: #32425c;
}

.footer-wrapper .container {
    min-height: 193px;
}

.index-logo {
    display: flex;
    align-items: center;

    width: 220px;
    min-height: 63px;

    margin-bottom: 25px;
}

.index-logo img {
    margin: 0 auto;
}

.footer-top address {
    width: 321px;
}

.footer-navigation-white.top {
    margin-left: 68px;
    margin-top: 35px;
}

.footer-navigation-white li:not(:last-child) {
    margin-right: 60px;
}

.footer-navigation-yellow.bottom {
    margin-left: 92px;
    margin-top: 33px;
}

.footer-navigation-yellow li:not(:last-child) {
    margin-right: 61px;
}

.footer-bottom .container {
    align-items: center;
    min-height: 107px;
}


.socials {
    margin-left: 163px;

    width: 131px;
}

.feedback {
    margin-left: 119px;
    
}

.developed {
    margin-left: 53px;
    
}

.send-letter {
    width: 460px;
    min-height: 38px;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 3px;
    
}

.letter-popup .send-letter {
    display: flex;
    align-items: center;
}

/*ПОСТРОЕНИЕ СЕТОК КАТАЛОГА!*/

.catalog-top {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.catalog-header {
    display: flex;
    align-items: center;
    min-height: 89px;
    padding-left: 30px;
    order: 2;
    background-color: #f2f6f8;
}

.breadcrumbs {
    order: 1;
}

.breadcrumbs-list {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;

}

.breadcrumbs-list li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; 
}


.breadcrumbs-list li:first-child {
    margin-left: 0;  
}

.filter {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-top: 20px;
}

.filter-cost h3 {
    display: flex;
    align-items: center;

    border-radius: 3px;    
    min-height: 38px;
    padding-left: 19px;
}

.filter-cost p {
    display: flex;
    align-items: center;
    min-height: 55px;
}

.costbar {
    min-height: 80px;
    border-radius: 3px;
}

.cost-handles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.min-handle,
.max-handle {
    
    width: 95px;
    min-height: 38px;
    border-radius: 3px;
    background-color: #f7f3ec;
}

.filter-producers-list li,
.filter-power-list li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.filter-power {
    margin-bottom: 74px;
}

.filter-show {
    width: 140px;
    min-height: 38px;
}

.sorting h3 {
    
    width: 100%;
    height: 38px;
}



.sorting-list {
    display: flex;
    justify-content: flex-end;
    
}
