body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.top-logo,
.index-top-logo,
.index-logo {
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.top-logo:hover,
.top-logo:focus {
    background-color: #ca2c37; 
    box-shadow: 0 5px 0 0 #9a212a; 
}

.top-logo:active {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26; 
}

.top-menu,
.main-navigation {
    background-color: #293449;
}

.top-menu a {
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;

    color: #ffffff;
}

.top-menu ul,
.main-navigation ul {
    margin: 0;
    padding: 0;

    list-style: none;
}


input[type="search"] {
    background-color: transparent;
    border: none;
}

input[type="search"]::placeholder {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;

    color: #ffffff;
}


.search input[type="search"]:hover,
.top-menu-list a:hover,
.top-menu-list a:focus {
    background-color: #212a3a;
}

.search input[type="search"]:focus {
    background-color: #ffffff;
    color: #000000;
}

.top-menu-list a:active {
    background-color: #161d29;
    color: rgb(255, 255, 255, 0.5);
}

.purchase a {
    font-size: 17px;
    line-height: 18px;

    background-color: #63a63e;
    color: #ffffff;
}


.purchase-item a:hover,
.purchase-item a:focus {
    background-color: #5fbb2d;
}

.purchase-item a:active {
    background-color: #518534;
    color: rgb(255, 255, 255, 0.5);
}

.header,
.services {
    background-color: #f3f7f9;
}

.header-navigation h2 {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    color: #ee3643;
}



.phone-number {
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    text-decoration: none;

    color: #ee3643;
    border: 3px solid #ffffff;
}

.header-navigation address {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;

    color: #32425c;
     
}

.header-navigation ul {
    list-style: none;
}

.user-navigation {
    margin: 0;
    padding: 0;
}

.user-navigation a {
    font-size: 21px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #000000;
    background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus,
.login-item:hover,
.login-item:focus {
    color: #ee3643;
}

.user-navigation a:active {
    color: rgb(0, 0, 0, 0.3);
}

.login-navigation .login-name {
    font-size: 21px;
    line-height: 21px;

    color: #000000;
    background-color: #ffffff;
}

.login-item{
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}



.login-item:active {
    color: rgb(50, 66, 92, 0.3);
}

.main-navigation {
    margin: 0;
    padding: 0;
    
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.main-navigation ul,
.product-categories ul,
.popular-products ul,
.popular-producers ul,
 .services ul,
 .about-company ul,
 .footer-navigation ul,
 .socials ul {
    margin: 0;
    padding: 0;
}

.main-navigation a {
    font-size: 17px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;

    color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus {
    background-color: #293449;
}

.main-navigation a:active {
    background-color: #293449;
    color: rgb(255, 255, 255, 0.5);
}

.product-categories ul {
    list-style: none;
}

.product-categories h3 {
    margin: 0;
    padding: 0;

    color: #ffffff;

    font-size: 24px;
    font-weight: bold; 
    line-height: 30px;
    text-transform: normal;
}

.product-categories a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;

    color: #ffffff;
}

.product-orange {
    background-color: #ffbf47;
}

.product-blue {
    background-color: #3bbce3;
}

.product-violet {
    background-color: #dc91d8;
}

.product-green {
    background-color: #8ed78f;
}

.product-categories a {
    background-color: rgb(0, 0, 0, 0.1);
}

.product-categories a:hover,
.product-categories a:focus {
    background-color: rgb(0, 0, 0, 0.2);
}

.product-categories a:active {
    background-color: rgb(0, 0, 0, 0.3);
}

.slider-1 h3,
.slider-2 h3 {
    margin: 0;
    padding: 0;

    color: #ffffff;

    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
}

.slider-1 p,
.slider-2 p {
    margin: 0;
    padding: 0;

    color: #ffffff;

    font-size: 18px;
    line-height: 24px;
}

.slider-1 a,
.slider-2 a,
.popular-products .show-popular-products,
.popular-producers .show-popular-producers,
.credit-request,
.more-about,
.lost {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;

    color: #ffffff;
    background-color: #ee3643;
}

.slider-1 a:hover,
.slider-1 a:focus,
.slider-2 a:hover,
.slider-2 a:focus,
.popular-products .show-popular-products:hover,
.popular-products .show-popular-products:focus,
.popular-producers .show-popular-producers:hover,
.popular-producers .show-popular-producers:focus,
.credit-request:hover,
.credit-request:focus,
.more-about:hover,
.more-about:focus,
.lost:hover,
.lost:focus {
    background-color: #ca2c37;
}

.slider-1 a:active,
.slider-2 a:active,
.popular-products .show-popular-products:active,
.popular-producers .show-popular-producers:active,
.credit-request:active,
.more-about:active,
.lost:active {
    background-color: #ba2732;
}

.popular-products-top,
.popular-producers-top {
    background-color: #f9f5f0;
}



.popular-products h2,
.popular-producers h2,
.delivery h3,
.guarantee h3,
.credit h3,
.about-company h2 {
    margin: 0;
    padding: 0;

    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 30px;

    color: #32425c;
}

.services h2,
.about-company h2,
.contacts h2 {
    margin: 0;
    padding: 0;

    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 30px;

    color: #000000;
}

.popular-products ul {
    list-style: none;
}

.popular-products-item a,
.active-product-item a,
.footer-navigation a,
.socials a {
    text-decoration: none;
}

.popular-products-item {
    font-family: "PT Sans", "Arial", sans-serif;
    border: 1px solid #eaeaea;
}

.popular-products-item h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    color: #000000;
}

.popular-products-item:hover,
.popular-products-item:focus {
   box-shadow: 0 0 25px 0  rgb(41, 52, 73, 0.5);
}

.old-price {
    color: #a9a9a9;

    font-weight: bold;
    text-decoration: line-through;
}

.price {
    font-weight: bold;
    
    color: #ffffff;
    background-color: #ee3643;
}

.active-product-item {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

}

.buy {
    color: #ffffff;  
    background-color: #63a63e; 
    box-shadow: 0 3px 0 0 #367315;
}

.buy:hover,
.buy:focus {
    background-color: #5fbb2d; 
}

.buy:active {
    background-color: #518534; 
    box-shadow: 0 3px 0 0 #518534;
}

.add-bookmarks {
    color: #32425c;  
    background: transparent; 
    border: 3px solid #63a63e;
}

.add-bookmarks:hover,
.add-bookmarks:focus {
    border: 3px solid #32425c;
}

.add-bookmarks:focus {
    border: 3px solid rgb(50, 66, 92, 0.3);
    color: rgb(50, 66, 92, 0.3);
}

.popular-producers ul {
    list-style: none;
}

.popular-producers-list li {
    border: 1px solid #eaeaea;
}

.popular-producers-list li:hover,
.popular-producers-list li:focus {
    box-shadow: 10px 0 25px 0  rgb(41, 52, 73, 0.5);
}

.popular-producers-list li:active {
    box-shadow: 4px 0 10 0  rgb(41, 52, 73, 0.3);  
}

.services ul,
.about-company ul {
    list-style: none;
}

.services p,
.about-company p,
.contacts p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    
    color: #000000;

}

.partners {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;

    color: #000000;
}

.footer-top {
    background-color: #32425c;
}

.footer-top address {
    font-size: 18px;
    list-style: 24px;
    font-weight: normal;
    font-style: normal;

    color: #ffffff;
}

.footer-navigation ul {
    list-style: none;
}

.white-item a,
.white-item ~ li a {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    
    color: #f1f5f7;
}

.yellow-item ~ li a {
    color: #ffd180;
}

.footer-navigation a:hover,
.footer-navigation a:focus {
    text-decoration: underline;
}

.white-item a:active,
.white-item ~ li a:active {
    text-decoration: none;
    color: rgb(241, 245, 247, 0.5);
}

.yellow-item ~ li a:active {
    color: rgb(255, 209, 128, 0.5);
}

.footer-bottom {
   background-color: #293449;
}

.footer-bottom p,
.footer-bottom span {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: normal;

    color: #ffffff;
}

.socials a {
    color: #ffffff;
}

.socials ul {
    list-style: none;
}

.socials a:hover,
.socials a:focus,
.socials a:active {
    color: #ee3643;
}

.footer-bottom span {
    color: #ffd180;
}

.footer-bottom span:hover,
.footer-bottom span:focus {
    text-decoration: underline;
}

.footer-bottom span:active {
    color: #ee3643;
    text-decoration: none;
}
/*
1. В списке производителей не показывается состояние клика (тень остается прежней при нажатии на картинку
2. Как скопировать стили теней в фотошопе или где это сделать? 
3. */


.map-popup {
    box-shadow: 0 0 16px 8px  rgb(41, 52, 73, 0.5);
}

.letter-popup label {
    font-size: 18px;
    list-style: 18px;

    color: #000000;
}

textarea {
    border: 2px solid #dee3e4;
}

.email-popup,
.name-popup {
    border: 2px solid #dee3e4;
}

.email-popup::placeholder,
.name-popup::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;

    color: #a9a9a9;
}


textarea::placeholder {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;

    color: #a9a9a9;
}

.send-letter {
    font-family: "Cuprum", "Arial", sans-serif;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    color: #ffffff;
    background-color: #ee3643;

    border: none;
}

.send-letter:hover,
.send-letter:focus {
background-color: #ca2c37;
}

.send-letter:hover,
.send-letter:focus{
background-color: #ba2732;
}